@model IOAS.Models.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="row">
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "", role = "form", @id = "formru", enctype = "multipart/form-data" }))
{
<div class="col-md-12">
            <div class="page-wrapper">
                <div class="white-bg">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="spl-title">Reset Password</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group custom-form-group">
                                <label>Role</label>
                                @Html.DropDownListFor(m => m.Roleid, new SelectList(ViewBag.Role, "Roleid", "Rolename"), "Select Role", new { @id = "ddlrolelist", @class = "form-control", @onchange = "FillUser()", @required = "required" })
                                <div class="txt-error txt-red">@Html.ValidationMessageFor(m => m.Roleid)</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group custom-form-group">
                                <label>User name</label>
                                @Html.DropDownListFor(m =>m.Userid, new SelectList(Enumerable.Empty<SelectListItem>(), "id", "name"), "Select User", new { @id = "ddluserlist", @class = "form-control", @required = "required"})
                                <div class="txt-error txt-red">@Html.ValidationMessageFor(M => M.Userid)</div>
                            </div>
                        </div>
                        </div>
                    <div class="row mt30">
                        <div class="col-md-4">
                            <div class="form-group custom-form-group">
                                <label>New Password</label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @required = "required",@id="txtnewpassword" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                             </div>
                        </div>
                        <div class="col-md-4">
                            <div class="custom-form-group">
                                <label> Confirm Password </label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required" ,@id="txtconfirmpassword"})
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center pd-tb-30">
                            <input type="submit" class="btn btn-primary mr10" value="Save" id="btnSave" />
                            <input type="button" onclick="window.location.href='@Url.Action("Dashboard", "Home")';" class="btn btn-default" value="Close" id="btnclose" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

    <div id="success" class="modal fade modal-success" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <i class="ion-android-checkmark-circle"></i>
                    <h3 class="modal-title">Reset successfully</h3>
                </div>
                <div class="modal-body">

                    <p>User password reset successfully</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
<div id="failuer" class="modal fade modal-error" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="ion-android-cancel"></i>
                <h3 class="modal-title">Error Message</h3>
            </div>
            <div class="modal-body">

                <p>This user not active</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="error" class="modal fade modal-error" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="ion-android-cancel"></i>
                <h3 class="modal-title">Error Message</h3>
            </div>
            <div class="modal-body">

                <p>Something went to wrong please contact Admin !.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var success = '@ViewBag.success';
        if (success != '') {
            $('#success').modal('show');
        }
        var failuer = '@ViewBag.failuer';
        if (failuer != '')
        {
            $('#failuer').modal('show');
        }
        var errormsg = '@ViewBag.error';
        if (errormsg != '')
        {
            $('#error').modal('show');
        }
        $('#ddlrolelist').prop("selectedIndex", 0);
        $('#ddluserlist').prop("selectedIndex", 0);
        $('#txtnewpassword').val('');
        $('#txtconfirmpassword').val('');
    });
        //To load in dropdown on change event in user list
        function FillUser() {
            var Roleid = $('#ddlrolelist').val();
            $.ajax({
                url: '@Url.Action("Userlist", "Account")',
                type: "Post",
                dataType: "JSON",
                data: { Roleid: Roleid },
                success: function (result) {
                    $("#ddluserlist").html(""); // clear before appending new list
                    $.each(result, function (i, user) {
                        $("#ddluserlist").append(
                            $('<option></option>').val(user.id).html(user.name));
                    });
                }

            });
        }
   
</script>