@model IOAS.Models.Others.insuranceInput
@{
    ViewBag.Title = "TravelInsurance";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<link href="~/IOASContent/datepicker/table.css" rel="stylesheet" />
<link href="~/IOASContent/datepicker/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/datepicker/jquery-ui.js"></script>
<script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy'
            });

            $(".datepickermin").datepicker(
               {
                   minDate: '0', dateFormat: 'dd/mm/yy'
               });
         
        });

        function CallChangefunc(val)
        {
            //alert(val);
            if (val == "Others") {
                $('#otherprojtype').show();// = 'false';
            }
            else {
                $('#otherprojtype').hide();// = 'True'; 
            }
        }   
       
</script>  
<style>
    .field-validation-error {
        color: red;
        background-color:white;
    }   
</style>

@using (Html.BeginForm("TravelIndex", "TravelInsurance", FormMethod.Post))
{
    <div id="addnewstatusbar">
        <div class="row hd-tt-bg">
            <div class="col-md-4">
                <h3>Travel Insurance Form</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-wrapper">
                <div class="white-bg">                 
                    <div class="row">
                        <div>
                            @*<div class="row">
                                <div class="col-md-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m=>m.Employee_Code)
                                        @Html.TextBoxFor(m => m.Employee_Code, new {@class="form-control" })
                                        @Html.ValidationMessageFor(m => m.Employee_Code)
                                        
                                    </div>
                                </div>
                            </div>*@
                            <table class="table table-hover">
                                <tr>
                                    <td>Employee Code</td>
                                    <td style="width:unset">@Html.TextBoxFor(m => m.Employee_Code,"", new { })  </td>
                                    <td>@Html.ValidationMessageFor(m => m.Employee_Code)</td>
                                </tr>
                                <tr>
                                    <td>Journey Start Date </td>
                                    <td>@Html.TextBoxFor(m => m.Start_Date, "", new { Class = "datepickermin" }) </td>
                                    <td>@Html.ValidationMessageFor(m => m.Start_Date)</td>
                                </tr>
                                <tr>
                                    <td>Return Date</td>
                                    <td>@Html.TextBoxFor(m => m.Return_Date, "", new { Class = "datepickermin" }) </td>
                                    <td>@Html.ValidationMessageFor(m => m.Return_Date)</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                   <td>@Html.TextBoxFor(m => m.DOB, "", new { Class = "datepicker" }) </td>
                                    <td>@Html.ValidationMessageFor(m => m.DOB)</td>
                                </tr>
                                <tr>
                                    <td>Given Name (as per passport)</td>
                                    <td>@Html.TextBoxFor(m => m.First_Name, "", new { }) </td>
                                    <td>@Html.ValidationMessageFor(m => m.First_Name)</td>
                                </tr>
                                <tr>
                                    <td>Last Name (as per passport)</td>
                                    <td>@Html.TextBoxFor(m => m.Surname, "", new { }) </td>
                                    <td>@Html.ValidationMessageFor(m=>m.Surname)</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>@Html.RadioButtonFor(m => m.Gender, "Male", new { })Male  @Html.RadioButtonFor(m => m.Gender, "Female", new { }) Female</td>                                
                                    <td>@Html.ValidationMessageFor(m => m.Gender)</td>
                                 </tr>
                                <tr>
                                    <td>Nominee Name</td>
                                    <td>@Html.TextBoxFor(m => m.Nominee_Name, "", new { }) </td>
                                    <td>@Html.ValidationMessageFor(m => m.Nominee_Name)</td>
                                </tr>
                                <tr>
                                    <td>Passport Number</td>
                                    <td>@Html.TextBoxFor(m => m.Passport_Number, "", new { }) </td>
                                    <td>@Html.ValidationMessageFor(m => m.Passport_Number)</td>
                                </tr>
                                <tr>
                                    <td>Mobile Number</td>
                                    <td>@Html.TextBoxFor(m => m.Mobile, "", new { }) </td>
                                    <td>@Html.ValidationMessageFor(m => m.Mobile)</td>
                                </tr>
                                <tr>
                                    <td>Email ID</td>
                                    <td>@Html.TextBoxFor(m => m.mail, "", new { }) </td>
                                    <td>@Html.ValidationMessageFor(m => m.mail)</td>
                                </tr>
                                <tr>
                                    <td>Name for Insurance policy</td>
                                    <td>@Html.TextBoxFor(m => m.adhar_card_name, "", new { }) </td>
                                    <td>@Html.ValidationMessageFor(m => m.adhar_card_name)</td>

                                </tr>

                                <tr>
                                    <td>Any pre-existing disease ?</td>
                                    @*<td>@Html.RadioButton("Yes", new { })Yes  @Html.RadioButton("No", new { }) No </td>*@   
                                    <td>@Html.RadioButtonFor(m=>m.disease,"Yes",new { } )Yes  @Html.RadioButtonFor(m => m.disease, "No", new { }) No</td>
                                    <td>@Html.ValidationMessageFor(m => m.disease)</td>
                                    </tr>
                                <tr>
                                    <td>Deatils of the disease</td>
                                    <td>@Html.TextAreaFor(m => m.disease_details,  new {  rows="5", cols="40" }) </td>
                                  

                                </tr>
                                <tr>
                                   <td>Project Number</td>                                
                                   <td>                                 
                                    @Html.DropDownListFor(m => m.Project_no, new List<SelectListItem>() { new SelectListItem() { Text = "PCF", Value = "PCF" }, new SelectListItem() { Text = "Cash", Value = "Cash" }, new SelectListItem() { Text = "Others", Value = "Others" } }, new { @onchange = "CallChangefunc(this.value)", @id = "options" })<br/>
                                    <br/>(The premium amount will be adjusted to the mentioned Project No.)
                                   </td>
                                </tr>
                                <tr id="otherprojtype" style="display:none">
                                    <td></td>
                                    <td>@Html.TextBoxFor(m => m.Project_otr, "", new { @id = "otr_project" })<br/><br/>
                                        (Please don't opt for CPDA) </td>
                                </tr>
                                <tr><td align="right"><button type="submit">Submit</button></td><td></td></tr>
                          </table>
                        </div>
                    </div>
                </div>
                <div class="txt-error txt-red">@Html.ValidationSummary(true)</div>
            </div>
        </div>
    </div>

}
